//General set up for script; HPC set up/etc...
process {
	beforeScript = 'module load singularity'
	containerOptions = '-B /data/MSc/2021/gfarrell/'
	executor='slurm'
	queue='MSC'
	clusterOptions = '-n 1'
}

//Set up for singularity container use on a HPC; reccomended HPC use for AntiSMASH steps
singularity.enabled = true
singularity.autoMounts = true

//Set up for Nextflow Tower monitoring (Very important for monitoring multiple runs lasting multiple hours
tower {
      accessToken = 'fill_your_NF_Tower_Token_Key_to_monitor'
      enabled = true
}


//Depending on set up for running tools can pipe processes out to multiple comtainers by process name
//process {
  //  withName:antismash {
        //container = 'antismash/standalone'
    //    container = '/data/MSc/2021/gfarrell/thesisreal/containers/antismash.sif'
      //                   }
      //}
